HospitalScheduling.suo

HospitalScheduling/bin
HospitalScheduling/obj

DomainLayer/bin
DomainLayer/obj

DomainLayerTests/bin
DomainLayerTests/obj

ServiceLayer/bin
ServiceLayer/obj

ServiceLayerTests/bin
ServiceLayerTests/obj

Gui/bin
Gui/obj

Assignment/bin
Assignment/obj

AssignmentTests/bin
AssignmentTests/obj

Common/bin
Common/obj

CommonTests/bin
CommonTests/obj

_ReSharper.HospitalScheduling.suo
HospitalScheduling.suo.5.1.ReSharper.user